<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header back">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
<style>
          .mdl-navigation__link{padding:10px 24px}
  .mdl-layout{width:100%;height:100%;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;overflow-y:auto;overflow-x:hidden;position:relative;-webkit-overflow-scrolling:touch}
          </style>               
          
<nav class="mdl-navigation">
   
   <nav class="mdl-navigation">
    <font color="white"><a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/log">Bot Logs</a>
  <!--  <a class="mdl-navigation__link" href="/lastmessages">Last Messages</a> -->
      <a class="mdl-navigation__link" href="/statsbot">Stats</a>
     <a class="mdl-navigation__link" href="/commands">Commands</a></font>
     <a class="mdl-navigation__link" href="/serverstatus">Server Status</a></font>
    <!-- <a class="mdl-navigation__link" style="  position: absolute;
  right: 5px;
  padding: 1px;" href="https://discordapp.com/oauth2/authorize?client_id=492015015449067520&scope=bot&permissions=2147483127">Add Server</a>-->
  <a class="mdl-navigation__link" href="https://discordapp.com/oauth2/authorize?client_id=492015015449067520&scope=bot&permissions=2147483127">Add Server</a></font>